.idea
__pycache__
oldcode.py
run.py
run1.py
run3.py
run5.py
test_run.py
sample

Python-3.6.4
.idea
__pycache__
oldcode.py
run.py
run1.py
run3.py
run5.py
test_run.py
sample
venv
test_app0.py
test_basic.py
test_flask_redirect.py
basic_test.py
application_for_testing.py
app0.py
tests\test_app.py
tests\test.py
tests\test_app.py
tests\makingDictionary.py
tests\myDictionary.py
tests\testing_sessions.py
Python-3.6.4.tgz
