/* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit; */

.verticalAlign{
  display: flex;
  align-items: center;
}

.boxBorder{
  border: solid 1px orange;
  padding: 2em;
}

body{
  background-color: #141414;
  /* background-image: linear-gradient(-90deg,#F9DEB9, #F2C2B3); */
  color: orange;
}
.topMargin{
  margin-top: 20%;
}

h1{
  /*font-family: 'Raleway', sans-serif;*/
  font-family: 'Fredericka the Great', cursive;
  color: white;
  font-size: 2.5em;
}
.indexForm{
  text-align: center;
  margin-top: 20%;
}
.jumbotron{
  font-family: 'Lobster', cursive;
  /* background-image: linear-gradient(-90deg,#F9DEB9, #F2C2B3); */
  background-color: #141414;
  border: solid 1px orange;
}
.userTitle h1{
  text-align: right;
  margin-top: 5% ;
  font-family: 'Lobster', cursive;
  font-size: 2em;
  color: orange;
}
span{
  color: rgb(35, 140, 207);
}
#effects{
  color: white;
  text-shadow: 0 0 15px #FFF, 0 0 30px #49FF18, 0 0 75px #49ff18, 2px 2px 2px rgba(28,110,164,0);
}
.answer{
  text-transform: capitalize;
  color: rgb(35, 140, 207);
}
