/* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit; */

.verticalAlign{
  display: flex;
  align-items: center;
}

.boxBorder{
  border: solid 1px orange;
  padding: 2em;
}

body{
  background-color: #141414;
  /* background-image: linear-gradient(-90deg,#F9DEB9, #F2C2B3); */
  color: orange;
  font-family: 'Nanum Gothic', sans-serif;
}
.topMargin{
  margin-top: 20%;
}

h1{
  font-family: 'Fredericka the Great', cursive;
  color: white;
  font-size: 2.5em;
}
.indexForm{
  text-align: center;
  margin-top: 20%;
}
.jumbotron{
  font-family: 'Lobster', cursive;
  /* background-image: linear-gradient(-90deg,#F9DEB9, #F2C2B3); */
  background-color: #141414;
  border: solid 1px orange;
}
.userTitle h1{
  text-align: right;
  margin-top: 5% ;
  font-family: 'Lobster', cursive;
  font-size: 2em;
  color: orange;
}
h3{
  font-family: 'Lobster', cursive;
  color: orange;
}
span{
  color: rgb(35, 140, 207);
}
#effects{
  color: white;
  text-shadow: 0 0 15px #FFF, 0 0 30px #49FF18, 0 0 75px #49ff18, 2px 2px 2px rgba(28,110,164,0);
}
.answer{
  text-transform: capitalize;
  color: rgb(35, 140, 207);
}
.modal{
  background-color: #141414 !important;
  color: black;
}
.modal-backdrop {
     background-color: rgba(0,0,0,.0001) !important;
}


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
/* Large desktops and laptops */
@media (min-width: 1200px) {
/* css specific properties col-lg-**/
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
/* css specific properties col-md-**/
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
/* css specific properties col-sm-**/

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
/* css specific properties col-xs-**/
  h1{
    font-size: 2em;
  }
  h3{
    font-size: 1.8em;
  }
  h5{
    font-size: medium;
  }
  body{
    font-size: small
  }
  .userTitle h1{
    font-size: 1.8em;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  h1{
    font-size: 1.5em;
  }
  h3{
    font-size: 1.2em;
  }
  h5{
    font-size: small;
  }
  body{
    font-size: small
  }
  .userTitle h1{
    font-size: 1.2em;
  }
   
}
/* css specific properties col-xs-* or none for default*/