{% extends "base.html" %}


{% block content %}
<div class="row" style="margin-top: 25%">

  <div class="col-md-6">
    <div style="padding:2em">
      <h1>WELCOME TO CESAR'S RIDDLE GAME</h1>
    </div>


  </div>
  <div class="col-md-6 boxBorder">
    <p>Please insert your name to start the game</p>
    <!-- <label for="userForm"></label> -->
    <form method='POST'>
      <input type="text" name='UsernameInput' maxlength="12" placeholder="required" required/>
      <div>
        <button type="submit" class="btn btn-primary">Ok</button>
      </div>
    </form>
  <p>{{session['counter']}}</p>
  </div>


</div>


{% endblock %}
